<body>
  <div class="text-center nt-5">
    <%= form_tag gossip_comment_path(@comment.gossip.id, @comment.id), method: "PUT" do %>
      <!-- Authenticity token sur une ligne -->
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <%= label_tag 'Content' %> <br/>
      <%= text_area_tag 'content' %>
      <br /> <br />
      <%= submit_tag "Envoyer" %>
      <br/> <br/>
    <% end %>
  </div>
</body>