<body>
  <div class="text-center nt-5">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
      <!-- Authenticity token sur une ligne -->
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

      <%= label_tag 'Email' %> <br/>
      <%= text_area_tag 'email' %>
      <br /> <br />

      <%= label_tag 'Mot de passe' %> <br/>
      <%= password_field_tag 'password' %>
      <br /> <br />
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="blablabla">Se souvenir de moi</label>
      </div>

      <%= submit_tag "Login" %>
      <br/>
      <br/>

    <% end %>
  </div>
    <!-- ... -->
</body>
