<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>
  <body>

  <!-- Jumbotron -->
  <div class="jumbotron">
    <br/>
    <h1 class="display-4 titre">THE GOSSIP PROJECT</h1>
    <br/>
    <div class="text-center">
    <br/>
    <br/>
    <%= link_to "Créer un Gossip", new_gossip_path, :class =>"btn btn-lg btn-primary" %>
    </div>
    <br/>
    <br/>
    <p class="lead text-center">Ceci est le nouveau concurrent officiel de facebook !</p>
    <hr class="my-4">
    <p class="text-right">Un grand merci à mes parents, mes amis, toussa toussa.</p>
  </div>
  <!-- Gossips cards -->
    <br/>
    <div class="">
      <% @gossips.each do |gossip|%>
        <div class="card p-0">
          <div class="card-body">
  <!--Partie like -->
            <div class="d-flex justify-content-start">
              <% if current_user %>
                <% if get_like(current_user, gossip) %>
                <span><%= link_to  "", gossip_like_path(gossip.id, get_like(current_user, gossip).id), method: :delete, class:"fas fa-heart fa-2x", style: "text-decoration : none" %></span>
                <% else %>
                <span><%= link_to  "", gossip_likes_path(gossip.id), method: :create, class:"far fa-heart fa-2x", style: "text-decoration : none" %></span>
                <% end %>
              <% else %>
                <i class="far fa-heart fa-2x"></i>
              <% end %>
              
              <%="#{gossip.likes.count}"%>
              <br/>
            </div>
            <br/>
  <!-- Contenu du gossip -->
          <blockquote class="blockquote mb-0">
            <div class="gossip-font">
              <%= gossip.content%>
            </div>
          </blockquote>
            <footer class="blockquote-footer"><cite title="Source Title"> <%= gossip.title%>  </cite> 
            <br/>
            <br/>
            <%# <FONT size="1pt"> from </FONT>  %>
            <%= gossip.user[:first_name] %>
  <!-- Gossip-boutons (accéder au gossip, à la ville et au profil) -->
      <br/>
        <div class="d-flex justify-content-end">
          <%= link_to "Accéder au gossip", gossip_path(gossip.id), :class =>"btn btn-outline-dark" %>
          <br/>
          <%= link_to "Accéder au profil", user_path(gossip.user), :class =>"btn btn-outline-dark" %>
          <br/>
          <%= link_to "Accéder à la ville", city_path(gossip.user.city), :class =>"btn btn-outline-dark" %>
        </div>
      <br/>
  <!-- Affichage du nombre de commentaire + lien vers le gossip en question -->
            <div class="d-flex justify-content-end">
              <%= link_to "#{gossip.comments.count} commentaires", gossip_path(gossip.id), :class =>"btn btn-outline-info"  %>
              <br/>

            </div>
  <!-- fin partie comments -->
            </footer>
          </div>
        </div>
      <br/>
      <br/>
    <% end %>
  </body>
</html>