<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>  
  <body>
  <header>

  </header>

      <p>Bienvenue <%= params["id"]%> !
      <br/>
      <br/> 
      <div class="card text-center">
        <div class="card-header">
          Voici le Gossip que tu cherchais !
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= @gossip.content %></p>
            <footer class="blockquote-footer"><%= @gossip.title %><cite title="Source Title">  <%= @gossip.created_at %></cite></footer>
          </blockquote>
        </div>
        <p><%= link_to "Détruire un gossip", @gossip.destroy, :class =>"btn btn-info" %></p>
        <p><%= link_to "Voir le profil du créateur !", user_path(@gossip.user[:id]), :class =>"btn btn-info" %></p>
        <p><%= link_to "Accéder à la ville", city_path(@gossip.user.city), :class =>"btn btn-info" %></p>
      </div>        

  </body>

</html>