<div class="container d-flex justify-content-center">
  <div class="card">
    <div class="card-header">
      Potin n°<%= @gossip.id%>
    </div>
    <div class="card-body">
      <h3>Intitulé du gossip : <%= @gossip.title %></h3>
      <p class="pt-5"><%= @gossip.content %></p>
      <div class="row text-center mt-5">
        <div class="col-6">
          <%= link_to  "Supprimer le potin", gossip_path(@gossip.id), method: :delete, data:{confirm: "Tu veux vraiment supprimer ce potin ?"}, class:"btn btn-lg btn-danger"  %>
        </div>
        <div class="col-6">
          <%= link_to  "Modifier le potin", edit_gossip_path(@gossip.id), class:"btn btn-lg btn-info" %>
        </div>
      </div>
    </div>
    <!--comments-->
    <div class="my-5">
      <div class="my-5">
        <%= form_with url: gossip_comments_path(@gossip.id, ) do |f| %>
          <label>Ajouter un commentaire</label>
          <%= f.text_area :content, class: 'form-control' %>
          <div class="text-right">
            <%= f.submit "Envoyer", class: "btn btn-sm btn-primary" %>
          </div>
        <% end %>
      </div>
      <% if @gossip.comments %>
        <div class="py-3">
          <% @gossip.comments.each do |comment| %>
            <div class="border m-3 p-2">
              <div class="text-right my-2 mr-2">
              </div>
              <div class="m-2 p-2">
              <%= link_to  "Modifier le commentaire", edit_gossip_comment_path(@gossip.id, comment.id), class:"btn btn-info" %>
              <%= link_to  "Supprimer le commentaire", gossip_comment_path(@gossip.id, comment.id), method: :delete, data:{confirm: "Tu veux vraiment supprimer ce commentaire ?"}, class:"btn btn-danger" %>
                <%= comment.content %>
                <i><%= comment.user[:first_name] %></i>
                <br/>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>