<body>
    <!-- ... -->
  <div class="d-flex justify-content-center d-flex align-items-center text-center">
    <%= form_tag url_for(action: 'create'), method: "post" do %>
      <!-- Authenticity token sur une ligne -->
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">



      <div class="card" style="width: 35rem;">
        <img src="https://cdn.pixabay.com/photo/2017/01/14/10/56/men-1979261_960_720.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <br/>
          <h5 class="card-title">Tu seras bien avec nous...</h5>

          <p class="card-text text-center">  
            <br/>
            <%= label_tag 'Prénom' %> <br/>
            <%= text_field_tag 'first_name', @user.first_name %>
            <br /> <br />
          </p>

          <p class="card-text text-center">  
            <%= label_tag 'Nom' %> <br/>
            <%= text_field_tag 'last_name', @user.last_name %>
            <br /> <br />    
          </p>


          <p class="card-text text-center">  
            <%= label_tag 'Ton âge' %> <br/>
            <%= text_field_tag 'age', @user.age %>
            <br /> <br />
          </p>


          <p class="card-text text-center">  
            <%= label_tag 'Description' %> <br/>
            <%= text_area_tag 'description', @user.description %>
            <br /> <br />
          </p>


          <p class="card-text text-center">  
            <%= label_tag 'Email' %> <br/>
            <%= text_field_tag 'email', @user.email %>
            <br /> <br />
          </p>


          <p class="card-text text-center">  
            <%= label_tag 'Ville' %> <br />
            <%= select_tag 'city_id', options_from_collection_for_select(City.all, "id", "name")%>
            <br /> <br /> 
          </p>


          <p class="card-text text-center">  
            <%= label_tag 'Mot de passe' %> <br/>
            <%= password_field_tag 'password', @user.password %>
            <br /> <br />
          </p>
        
          <%= submit_tag "C'est... OK !" %>
          <br/>
          <br/>
        </div>
      </div>
    <% end %>
  </div>
</body>
