<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>  
  <body>
  <header>

  </header>
  <br/>
  <br/>
  <h1>VOUS ÊTES SUR LA PAGE DE <%= @user.first_name %> !</h1>
  <ul>
<li>Prénom : <%= @user.first_name %></li>
<li>Nom : <%= @user.last_name%></li>
<li>Email : <%= @user.email%></li>
<li>Age : <%= @user.age%></li>
<li>Ville : <%= @user.city[:name]%></li>
<li>Description : <%= @user.description%></li></ul>
    
    <% @gossips.each do |gossip|%>
      <div class="card">
        <div class="card-header">
          Potin n°<%= gossip.id%>
        </div>
        <div class="card-body">
          <blockquote class="blockquote mb-0">
            <p><%= gossip.content%></p>
            <footer class="blockquote-footer"><%= gossip.user[:first_name]%><cite title="Source Title"> <%= gossip.title%></cite></footer>
          </blockquote>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
    <% end %>
  </body>
</html>