<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>The Gossip Project</title>
    <!-- On peut avoir d'autres méta-données ici -->
  </head>  
  <body>
  <header>

  </header>
  <h1>Ici c'est la page Show-User !</h1>
<p>Prénom : <%= @user.first_name %></p>
<p>Nom : <%= @user.last_name%></p>
<p>Email : <%= @user.email%></p>
<p>Age : <%= @user.age%></p>
<p>Ville :<%= @user.city%></p>

  </body>
</html>